.tabs{
/*background-color: red !important;*/
}

.nav-bar-block, .bar {
  /*background-color: red !important;*/
}

.padding {
	background-color:#1C2833;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
}

div {
	/*border-style: solid;
    border-width: 5px;*/
}

div.keepcardexpaded{
	height:100%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
}

p.ci-title{
	font-size: 200%;
	font-weight: bold;
	font-color: #373737;
}

p.ci-content{
	font-size: 120%;
	padding-top: 2%;
	font-color: #3eff37;
}

div.card {
	background-color: #FEFCFF;
}

div.icon {
	width: 100%;
	text-align: center;
}

div.allIcons{
	width: 100%;
	vertical-align: middle;
}

p.preIconText{
	font-size: 120%;
	padding-top: 2%;
	font-color: #3eff37;
}

div.myname{
	vertical-align: middle;
	font-weight: Bold;
	font-size: 40PT;
	width: 100%;
	height: 80px;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	
}
div.pdf-wrapper{
	width: 100%;
	height: 1000px;
}

hr.bottomdivider {
	height: 5px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

p {
	font-family: 'Open Sans';
	font-color: #373737;
}

/*about me*/
div.insideaboutmecard {
	display: table;
	width: 100%;
	padding-bottom: 1%;
}

div.profileimage {
	display: table-cell;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
	float: left;
}

img.myImage {
	width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

div.about-me {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 3%;
	padding-bottom: 1%;
	vertical-align: top;
	display: table-cell;

}

p.aboutme-title {
	font-size: 200%;
	font-weight: bold;
	font-color: #373737;
}

p.aboutme-content {
	font-size: 120%;
	padding-top: 2%;
	font-color: #373737;
}

div.other-links {
	vertical-align: top;
	width:30%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 3%;
	padding-bottom: 1%;
	display: table-cell;

}

/*Portfolio CSS*/
div.image-wrapper {
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	min-height: 320px;
}

p.project-title{
	font-size: 200%;
	text-align: center;
}


p.project-title {
	font-size: 200%;
	font-weight: bold;
}

div.projects-UniTap {
	float: left;
	width: 49%;
	padding-top: 1%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 1%;
}

div.projects-ClubHub {
	float: right;
	width: 49%;
	padding-top: 1%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 1%;
}


img.Clubhub-Image {
	padding-top: 1%;
	padding-bottom: 1%;
	margin: auto;
	display: block;
	text-align: center;
	width: 60%;
}

img.UniTap-Image {
	padding-top: 1%;
	padding-bottom: 1%;
	margin: auto;
	display: block;
	text-align: center;
	width: 60%;
}

/*Contact Info*/
div.contactinfo {
	float: right;
	display: table-cell;
    vertical-align: middle;
}