page-home {

}

div {
	border-width: 1px;
	/*border-style: solid;
	border-colour: black;
	*/
}
div.projects-UniTap {
	float: left;
	width: 49%;
	padding-top: 1%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 1%;
}

div.projects-ClubHub {
	float: right;
	width: 49%;
	padding-top: 1%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 1%;
}
div.Clubhub-Image {
	padding-top: 1%;
	padding-bottom: 1%;
	width: 10%;
}

div.UniTap-Image {
	padding-top: 1%;
	padding-bottom: 1%;	
	width: 5%;
}