<ion-view view-title="My Projects">
  <ion-content class="padding">
    <div class="tab-content">
      <div id="all-projects">
        <div class="project">
          <p class="project-title" >
            {{projects[0].name}} 
            <img src="img/github.png" ng-click="goTo('{{projects[0].link}}')" height="40px">
          </p>
          <img class="project-image" src={{projects[0].image}}>
          <p>
            {{projects[0].description}}
          </p>

        </div>
        <div class="project">
          <p class="project-title" >
            <br>
            {{projects[1].name}}
          </p>
          <img class="project-image" src={{projects[1].image}}>
          <p>
            {{projects[1].description}}
          </p>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
