<ion-view view-title="Resume">
  <ion-content class="padding">
    <div class="card" height='500px'>
  	  <div class="pdf-wrapper" height="100%">
        <object height="100%" width="100%" type="application/pdf" data="/pdf/Resume.pdf#toolbar=1&amp;navpanes=0&amp;scrollbar=1&amp;page=1&amp;view=FitH">
    	  <p>It appears you don't have a PDF plugin for this browser. <a href="/pdf/Resume.pdf">click here to download the PDF file.</a></p>
	    </object>
	  </div.
	</div>
  </ion-content>
</ion-view>
