<ion-view view-title="Portfolio">
  <ion-content class="padding">
    <div class="card">
      <div id="projects-wrapper">
        <div class="projects-UniTap" ng-click="goToApp('UniTap')">
        <p class="project-title">
          UniTap
        </p>
        <img class="UniTap-Image" src={{unitapimage}}>
          <p class="UniTap-Description">
            {{unitapdescr}}
          </p>
        </div>
        <div class="projects-ClubHub">
          <p class="project-title">
            ClubHub
          </p>
          <img src={{clubhubimage}} class="Clubhub-Image">
          <p class="Clubhub-Description">
            {{clubhubdescr}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
