<ion-view view-title="Brandon Marino">
  <ion-content class="padding">
    <div class="card">
      <div class="myname">
          <p>
            Brandon Marino
          </p>
          <hr class="bottomdivider">
      </div>
      <div class="insideaboutmecard">
        <div class="profileimage">
          <img class="myImage" src={{myimage}} >
        </div>
        <div class="about-me">
          <p class="aboutme-title">
            Software Engineer
          </p>
          <p class="aboutme-content">
            {{aboutme}}
          </p>
        </div>
        <div class="other-links">
          <p class="preIconText">
            You can find some more information about me here!
          </p>
          <div class="allIcons">
            <img src="img/github.png" ng-click="goToGitHub()" height="45px" width="45px">
            <img src="img/linkedin.png" ng-click="goToLinkedIn()" height="45px" width="45px">
            <img src="img/facebook.png" ng-click="goToFaceBook()" height="45px" width="45px">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
