<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-light">

  <!-- About Me Tab -->
  <ion-tab class="tabstitle" title="About Me" icon-off="ion-ios-person-outline custom-icon" icon-on="ion-ios-person custom-icon" href="#/aboutme">
    <ion-nav-view name="tab-aboutme"></ion-nav-view>
  </ion-tab>

  <!-- Portfolio Tab -->
  <ion-tab class="tabstitle" title="My Projets" icon-off="ion-ios-albums-outline custom-icon" icon-on="ion-ios-albums custom-icon" href="#/tab/portfolio" >
    <ion-nav-view name="tab-portfolio"></ion-nav-view>
  </ion-tab>

  <!-- Skills Tab -->
  <ion-tab class="skillstitle" title="My Skills" icon-off="ion-ios-list-outline custom-icon" icon-on="ion-ios-list custom-icon" href="#/tab/skills" >
    <ion-nav-view name="tab-skills"></ion-nav-view>
  </ion-tab>

  <!-- Skills Tab -->
  <ion-tab class="experiencetitle" title="My Experience" icon-off="ion-ios-book-outline custom-icon" icon-on="ion-ios-book custom-icon" href="#/tab/experience" >
    <ion-nav-view name="tab-experience"></ion-nav-view>
  </ion-tab>

  <!-- Contact Info Tab -->
  <ion-tab class="tabstitle" title="Contact Me" icon-off="ion-social-whatsapp-outline custom-icon" icon-on="ion-social-whatsapp custom-icon" href="#/tab/contactinfo">
    <ion-nav-view name="tab-contactinfo"></ion-nav-view>
  </ion-tab>

</ion-tabs>
